@import "../fonts/avenir/avenir.css";
@import "../fonts/ITCAvantGardePro/ITCAvantGardePro.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #000000;
    height: 100%;
    font-family: 'Avenir', sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    height: 100%;
    max-height: 864px;
    align-items: center;
    width: 100%;
}

.container__image-section {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center top;
    max-width: 50%;
    height: 100%;
    flex: 0 0 100%;
    width: 100%;
}

.container__content-section {
    padding: 92px 0px;
    max-width: 50%;
    flex: 0 0 100%;
    justify-content: center;
    display: flex;
    background: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.wrapper {
    width: 495px;
    margin: auto;
}

.wrapper .text {
    padding: 0 24px;
}

.wrapper .text__heading {
    font-family: 'ITC Avant Garde Gothic Pro';
    font-size: 31.25px;
    font-weight: 700;
    line-height: 40.62px;
    margin-bottom: 12px;
}

.wrapper .text__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    margin-bottom: 32px;
    color: #777;
}

.wrapper .product-list {
    padding: 0 24px;
    position: relative;
    width: 100%;
}

.shop-button {
    padding: 5px 0px;
    color: #000;
    margin-bottom: 68px;
    background: none;
    border: 0;
    border-bottom: 1px solid #000;
    font-family: Avenir;
    font-size: 12.8px;
    font-weight: 900;
    line-height: 17.48px;
    transition: all 0.2s;
    cursor: pointer;
}

.shop-button:hover {
    color: #747474;
    border-bottom: 1px solid #747474;
}

.slick-list {
    overflow: visible !important;
}

.product-list__button {
    width: 40px;
    height: 40px;
    border: 1px;
    position: absolute;
    z-index: 1;
    background: none;
    border: 1px solid #0000001A;
    cursor: pointer;
    top: 135px;
}

.product-list__button.slick-disabled,
.product-list__button.slick-disabled {
    display: none !important;
}

.product-list__button--next {
    right: -58px;
}

.product-list__button--previous {
    left: -58px;
    transform: rotate(180deg);
}

.product {
    text-align: center;
    margin: 0 16px;
    width: 230px;
}

.product__img {
    max-width: 100%;
    margin-bottom: 12px;
}

.product__name {
    margin-bottom: 5px;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 20.48px;
    text-align: left;
    margin-bottom: 4px;
}

.product__price {
    font-size: 12.8px;
    font-weight: 500;
    line-height: 20.48px;
}

.product__bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__colors {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.product__color {
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.product__color:nth-child(1) {
    background: #99C3CC;
}

.product__color:nth-child(2) {
    background: #CC9999;
}

.product__color:nth-child(3) {
    background: #CB99CC;
}

.product__color:nth-child(4) {
    background: #A6CC99;
}

.product__color--active {
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px #000;
}

@media screen and (max-width: 1133px) {
    .product-list__button--previous {
        left: -15px;
    }

    .product-list__button--next {
        right: -15px;
    }
}

@media screen and (max-width: 992px) {

    .product-list__button {
        display: none !important;
    }

    body {
        display: block;
        background: #fff;
    }

    .container {
        display: block;
        max-height: unset;
    }

    .container__image-section {
        background-position: center top;
        height: 437px;
        position: relative;
        max-width: unset;
    }

    .container__image-section :after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 218px;
        opacity: 0.5;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 78.65%);
    }

    .container__content-section {
        max-width: unset;
        height: unset;
        overflow: unset;
        z-index: 1;
        position: relative;
        padding: 65px 0px;
    }

    .wrapper {
        margin-top: -260px !important;
        width: 100% !important;
    }

    .wrapper .text__heading {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 16px;
    }

    .wrapper .text__paragraph {
        display: none;
    }

    .product-list-wrapper {
        overflow: hidden;
    }

    .product-list {
        margin: 0 -3px;
    }

    .product {
        margin: 0 6px;
    }

    .product__bottom-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding-bottom: 1px;
    }

    .shop-button {
        color: #fff;
        border-color: #fff;
        margin-bottom: 38px;
    }
}